<a href="https://colab.research.google.com/github/sairam91334/478-sigma-day3/blob/main/Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
np.random.seed(42)
def createdata():
  data ={
      'Age': np.random.randint(18,70,size=20),
      'Salary': np.random.randint(30000,120000,size=20),
      'purchased': np.random.choice([0,1],size=20),
      'Gender': np.random.choice(['Male','Female'],size=20),
      'city': np.random.choice(['Delhi','Mumbai','Bangalore','Chennai'],size=20)
  }
  df = pd.DataFrame(data)
  return df
df = createdata()
print(df)

    Age  Salary  purchased  Gender       city
0    56   92955          1  Female     Mumbai
1    69   94925          0  Female    Chennai
2    46   97969          0    Male     Mumbai
3    32   35311          0  Female      Delhi
4    60  113104          0    Male  Bangalore
5    25   83707          0  Female     Mumbai
6    38  115305          0    Male     Mumbai
7    56   58693          0  Female    Chennai
8    36  101932          0    Male     Mumbai
9    40   55658          1    Male     Mumbai
10   28  114478          1  Female     Mumbai
11   28   48431          0    Male    Chennai
12   41   32747          1  Female     Mumbai
13   53   89150          1  Female  Bangalore
14   57   95725          1  Female    Chennai
15   41  114654          1  Female  Bangalore
16   20   65773          0  Female    Chennai
17   39   97435          1  Female     Mumbai
18   19   86886          0  Female  Bangalore
19   41   96803          1  Female    Chennai

In [2]:
df.head(10)

   Age  Salary  purchased  Gender       city
0   56   92955          1  Female     Mumbai
1   69   94925          0  Female    Chennai
2   46   97969          0    Male     Mumbai
3   32   35311          0  Female      Delhi
4   60  113104          0    Male  Bangalore
5   25   83707          0  Female     Mumbai
6   38  115305          0    Male     Mumbai
7   56   58693          0  Female    Chennai
8   36  101932          0    Male     Mumbai
9   40   55658          1    Male     Mumbai

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
np.random.seed(42)
def createdata():
  data ={
      'Age': np.random.randint(18,70,size=20),
      'Salary': np.random.randint(30000,120000,size=20),
      'purchased': np.random.choice([0,1],size=20),
      'Gender': np.random.choice(['Male','Female'],size=20),
      'city': np.random.choice(['Delhi','Mumbai','Bangalore','Chennai'],size=20)
  }
  df = pd.DataFrame(data)
  return df
df = createdata()
df.shape

(20, 5)

In [4]:
df.loc[5, 'Age'] = np.nan
df.loc[9, 'Salary'] = np.nan
df.head(10)

    Age    Salary  purchased  Gender       city
0  56.0   92955.0          1  Female     Mumbai
1  69.0   94925.0          0  Female    Chennai
2  46.0   97969.0          0    Male     Mumbai
3  32.0   35311.0          0  Female      Delhi
4  60.0  113104.0          0    Male  Bangalore
5   NaN   83707.0          0  Female     Mumbai
6  38.0  115305.0          0    Male     Mumbai
7  56.0   58693.0          0  Female    Chennai
8  36.0  101932.0          0    Male     Mumbai
9  40.0       NaN          1    Male     Mumbai